[Unit]
Description=Halmos Web Server Engine
After=network.target

[Service]
User=root
Group=root
# Lokasi path absolut Halmos
ExecStart=/usr/bin/halmos
WorkingDirectory=/var/www

# --- BARIS INI UNTUK MENGIZINKAN HIGH CONCURRENCY ---
LimitNOFILE=65536
LimitNPROC=65536

# Jika Halmos tidak ingin otomatis restart setelah server dinyalakan, 
# maka 2 perintah ini di remark saja 
Restart=always
RestartSec=5s

KillSignal=SIGINT

[Install]
WantedBy=multi-user.target

